
{% extends "encabezado_y_pie_logeado.html" %}
{% from "macros.html" import mostrar_campo, mostrar_campo_submit %}
{%block contenido %}

		<div class="container"><br><br>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
					{% if (destino=="creando_evento") %}
    					<h1>Crear Evento</h1>
					{% endif %}
					{% if (destino=="modificar_evento") %}
						<h1>Modificar Evento</h1>
					{% endif %}
			<form>
					 <div class="form-group">
						 {{ mostrar_campo(formulario.titulo, class='form-control' )}}
					 </div>
					  <div class="form-group">
						{{ mostrar_campo(formulario.fecha, class='form-control' )}}
					 </div>
					<div class="form-group">
						{{ mostrar_campo(formulario.hora, class='form-control' )}}
					 </div>
					<div class="form-group">
						{{ mostrar_campo(formulario.lugar, class='form-control' )}}
					 </div>
					 <div class="form-group">
						{{ mostrar_campo(formulario.descripcion, class='form-control' )}}
					 </div>
					 <div class="form-group">
						<input type="file" name="campoarchivo" id="archivo" class="form-control-file">
						 {% if(destino=="modificar_evento") %}
						 	<div align="center" ><img  style="width:30% ; height: 30%" src="/static/imagenes/imagen.jpg" style="margin:auto"></div>
						 {% endif %}
					 </div>
				     <li class="form-group">
						 <br>{{ mostrar_campo_submit(formulario.aceptar_evento , class='btn btn-info')}}
                		 <a href="{{url_for('index')}}" type="button" class="btn btn-danger">Cancelar</a>
					 </li>
			</form>
					</div>
				</div>
			</div>
		</div>
{%endblock%}