<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Incluir JS de Bootstrap-->
		<!--<script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>-->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="utf-8"> <!--indica cual es la codificacion de la pagina-->
	<link rel="stylesheet" href="estilo.css">
</head>
<body>

<!------------------------------------------------------------------------------------>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><font style="vertical-align: inherit;">
	  <font style="vertical-align: inherit;">
        <img src="Home_Paine.png">
	  </font>
  </font>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!------------------------------------------------------------------------------------------>

  <div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
             <li class="nav-item" style="color:white">
               <label for="email">Email: </label>
            </li>
        <div class="form-group">
               <input type="email" name="campoemail" id="email" class="form-control">
        </div>
             <li class="nav-item" style="color:white">
                <label for="contraseña">Contraseña</label>
            </li>
        <div class="form-group">
						<input type="password" name="campopass" id="contraseña" class="form-control">
					 </div>
         </li>
            <li class="nav-item">
               <a class="btn btn-info">Iniciar sesion</a>
                <a class="btn btn-info">Registrarse</a>
            </li>
       </ul>
   </div>

<!------------------------------------------------------------------------------------------>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Menu
        </font></font></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Página A </font></font></a>
          <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Página B</font></font></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Página C</font></font></a>
        </div>
      </li>
    </ul>

  </div>
</nav>
<!------------------------------------------------------------------------------------>
<!---aca va el contenido que uno quiera poner---->



</body>
</html>