
{% extends "encabezado_y_pie_logeado.html" %}
{% from 'macros.html' import evento_comentarios %}
{%block contenido %}

<div class="row">
<div class="col-md-8"style="float:left; margin:auto;width: 20rem">
<div class="jumbotron">
        <div align="center" ><img  style="width:80% ; height: 80%" src="/static/imagenes/imagen.jpg" style="margin:auto"></div>

	<h1 align="center"><b><u>{{evento["nombre"]}}</u> </b></h1>
	<h3><u>Nombre:</u> {{evento["nombre"]}}</h3>
	<h3><u>Fecha:</u> {{evento["fecha"]}}</h3>
	<h3><u>Horario:</u> {{evento["hora"]}}</h3>
	<h3><u>Lugar:</u> {{evento["lugar"]}}</h3>
	<h3><u>Descripcion:</u> {{evento["descripcion"]}}</h3>

</div>
</div>
</div>
<!----- esto es el conjunto de los comentarios ------->
<div class="row">
	<div class="col-md-2"></div>
<div class="col-md-8">
					  <div class="form-group">
						<label for="area" style="color:black">
						 <div class="jumbotron">

						  <img style="float:left; margin:row; width: 40px; height: 40px" src="/static/imagenes/usuario_logo.png"><h5>{{nombreusuario}}</h5>
		</form>
						  <textarea name="areadetexto" rows="1" cols="60"  class="form-control" id="area"></textarea>
							  <input type="submit">
					  </div>
					  </div></div></div>
</div><div class="col-md-2"></div></div>
<div class="row">



{% for comentario in listacomentarios %}


{{evento_comentarios (comentario)}}


{% endfor %}
<!----------------------------------------------------->
</div>

{%endblock%}
