
{% extends "encabezado_y_pie_logeado.html" %}
{% from 'macros.html' import mostrar_eventos, mostrar_campo, mostrar_campo_submit %} {# Importar el macro #}

{%block contenido %}
{% if current_user.is_authenticated %}
<div class="row" style="float:left; margin:auto;width: 20rem">
     <form method="POST" action="{{ url_for('index', _anchor='filter') }}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

<div class="col-md-12"><br><br>
    <div class="form-group">
	 <div class="jumbotron">

    <p><h2 align="center"><u><b>FILTRO</b></u></h2></p>
      <div class="col-md-10" style="float:center; margin:row; color: aliceblue; text-align: center;color:black">
        {{ mostrar_campo(filtro.titulo, class='form-control' )}}
      </div>
       <div class="col-md-10" style="float:center; margin:row; color: aliceblue; text-align: center;color:black">
        {{ mostrar_campo(filtro.tipo , class='form-control') }}
      </div>
      <div class="col-md-10" style="float:center; margin:row; color: aliceblue; text-align: center;color:black">
        {{ mostrar_campo(filtro.fecha, class='form-control' )}}
      </div>
      <div class="col-md-10" style="margin-top: 15px;margin:row; text-align: center; color:black">
        {{ mostrar_campo_submit(filtro.filtro, class='btn btn-outline')}}
      </div>

                </div>
            </div>
        </div>
   </form>
</div>
{% endif %}
<div class="row">
<div class="col-lg-11" style="margin:auto;float:auto">

<div class="row">


  {% for evento in listaeventos %}

  {{mostrar_eventos (evento)}}

  {% endfor %}

</div>


</div></div>


{% endblock %}
