
{% extends "encabezado_y_pie_logeado.html" %}
{% from 'macros.html' import mostrar_eventos %} {# Importar el macro #}

{%block contenido %}

<div class="row">
<div class="col-md-3"style="float:left; margin:auto;width: 20rem"><br><br>
    <div class="form-group">
	 <div class="jumbotron">

    <p><h2 align="center"><u><b>FILTRO</b></u></h2></p>
    <p><h4>===>Fecha<===</h4></p>
             <label for="fecha1">Desde</label>
         <input class="form-control" id="fecha1" name="fecha1" required="" type="date" value="">
             <label for="fecha2">Hasta</label>
         <input class="form-control" id="fecha2" name="fecha2" required="" type="date" value="">


    <p><h4>===>Categoria<===</h4></p>

						<select name="desplegable" id="desplegable" class="form-control">
						  <option value="">--Elegir una opción --</option>
						  <option value="opcion1">Opción 1</option>
						  <option value="opcion2">Opción 2</option>
						  <option value="opcion3">Opción 3</option>
						  <option value="opcion4">Opción 4</option>
						</select>
                        <label for="texto"><p><h4>===>Titulo<===</h4></p></label>
						<input type="text" name="campotexto" id="texto" class="form-control"><br><br>
                    <a input type="submit" class="btn btn-primary" style="color:white">buscar</a>
                    </div>
                </div>
            </div>
        </div>

<div class="col-lg-10" style="margin:auto;float:auto">

<div class="row">

{% for evento in listaeventos %}


{{mostrar_eventos (evento)}}


{% endfor %}
</div></div>


{% endblock %}
