
{% extends "encabezado_y_pie_logeado.html" %}
{% from "macros.html" import mostrar_campo, mostrar_campo_submit %}
{%block contenido %}

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<form action="{{url_for('usuario_nuevo')}}" method="POST">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<h1>Registro de nuevo Usuario</h1>
								<!-- <from action="" method="post"> -->
							<div class="form-group">
								{{ mostrar_campo(formulario.nombre, class='form-control' )}}
							 </div>
							<div class="form-group">
								{{ mostrar_campo(formulario.email, class='form-control' )}}
					 		</div>
							<div class="form-group">
								{{ mostrar_campo(formulario.password, class='form-control' )}}
							 </div>
					 			<div class="form-group">
								{{ mostrar_campo(formulario.confirmar , class='form-control')}}
         			  			<br/><br><br>
								{{ mostrar_campo_submit(formulario.submit, class='btn btn-info' )}}
								<a href="{{url_for('index')}}" type="button" class="btn btn-danger">Cancelar</a>
								</div><br><br>
							<!--		</form>			-->
					</form>
				</div>
			</div>
		</div>
	</div>

{%endblock%}