<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <!--Definición del bloque que contiene la cabecera -->
      {% block head %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title>Titulo</title>

    {% endblock %}
  </head>
  <body>

   <!--Definición del bloque que contendrá el contenido -->
  {% block contenido %}
  {% endblock %}
  <br/>
   <!--Definición del bloque que contiene el pie -->
  {% block pie %}
  <br/><br/><br/>
  <footer class="footer" style="background-color:#343a40;padding:15px">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5" >
            <p style="color:white">Aenean purus mi, laoreet et aliquam quis, imperdiet non risus. Nulla id luctus enim, convallis laoreet urna. Curabitur iaculis dictum ante.</p>
        </div>


      </div>
    </div>
  </footer>
 {% endblock %}
